/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "bourbon";
@import "neat";
@import "static";
@import "users";

$main-color: #ff8249;

body {
	background-color: $main-color;
	font-family: helvetica, verdana, arial, sans-serif;
	font-size: 62.5%;
	padding: 0;
	margin: 0;
}

#body {
	font-size: 1.6em;
	border-bottom: 60px solid #333;
}

h1, h2, h3, h4 {
	color: #EEE;
	font-weight: normal;
}


.main-header {
	@include outer-container;
	text-align: right;
	img {
		vertical-align: middle;
	}
}

.welcome {
	@include outer-container;
	.home-icon {
		@include span-columns(4);
		text-align: right;
		padding: 2em 0;
	}
	.home-info {
		@include span-columns(8);
		font-size: 2em;
		text-transform: uppercase;
		ol {
			padding: 0;
			margin: 0;
		}
		img {
			vertical-align: middle;
		}
	}
}

.welcome-steps {
	li {
		display: inline;
		list-style-type: none;
	}
}

.what-it-is-container {
	background-color: gray;
	margin: 0;
}
.what-it-is-banner {
	@include outer-container;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	text-align: center;
	font-size: 1.5em;
	padding: 1em;
	margin-bottom: 0;
	
}

.stats-container {
	background-color: white;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	margin: 0;
	text-align: center;

}

.stats-banner {
	@include outer-container;
	text-align: center;
	font-size: 1.5em;
	padding: 1em;	

}

.fix-it-container {
	@include outer-container;
	text-align: center;
	.fix-it-p {
		font-size: 2em;
	}
}


.fix-it-words {
	@include span-columns(8);
	text-align: right;
	padding-top: 1em;
	h2 {
		margin: 0;
		font-size: 3em; 
	}
	p {
	}
	text-transform: uppercase;
}
.fix-it-logo {
	@include span-columns(4);
	text-align: left;
}

